@charset"utf-8";
body{
	font-family: calibri;
	font-size: 18px;
	color: #333333;
}
html{
	scroll-behavior: smooth;
}
*{
	padding: 0px;
	margin: 0px;
}
.container{
	width: 1000px;
	margin:0 auto;

}
header{
	background: #df6969;
	width:100%;
	float: left;
	padding:  20px 20px;
	margin-top: 1px;
	border-bottom: #acabfe solid 1px;
	position:fixed;
}
.logo{
	width: 300px;
	float: left;
	font-size: 40px;
	font-weight: bold;
	color: #ffffff;
	
}
.menu{
	width: 700px;
	float: left;

}
.menu ul{
	list-style-type: none;
	text-align: right;
	margin-top: 15px;
}
.menu ul li{
	display: inline;
	padding: 10px 20px;
}
.menu ul li a{
	color: #ffffff;
	font-size: 16px;
	text-decoration: none;
}
section {
	padding: 10px;
	width: 100%;
	float: left;
}

#about-page {
	background-color: #7878ce;
	color: #ffffff;
	clear: both;
	margin-top: 70px;
}

#about-page h1 {
	font-size: 30px;
	text-align: left;
	margin-bottom: 20px;
}

#about-page p {
	width: 800px;
	font-size: 18px;
	font-family: tahoma;
	margin-left: -200px;
}

#about-page .fa {
	font-size: 40px;
	color: #d18787;
	margin: 10px 5px;
}

#about-page img {
	margin-left: -200px;
	margin-top: 50px;
	
}

h1 {
	font-size: 30px;
	color: #cf2424;
	text-align: center;
	margin-bottom: 50px;
}

h1.fa {
	font-size: 40px;
	color: #da801b;
	margin-right: -120px;
}

h2 {
	font-size: 20px;
	color: #000000;
	margin-top: 10px;
}

i {
	color: #c26565;
	font-size: 32px;
	padding: 0px 10px 0px 0px;
	margin: 5px;
}

#experience {
	background-color: rgb(160, 211, 118);
	margin: -8px -10px 0px -10px;
    
}

#experience fa {
	font-size: 30px;
	margin-left: -850px;
}

#experience h1 {
	margin: -20px 0px 0px -20px;
	color: rgb(212, 31, 31);
}

#experience h2 {
	font-size: 30px;
	color: rgb(12, 10, 10);
	margin-left: 150px;
}

#experience i {
	color: rgb(204, 29, 29);
	margin-left: 200px;
	font-size: 20px;
}

#experience p {
	color: rgb(173, 20, 20);
	margin-left: 200px;
	font-size: 20px;
}
/* education */

#education {
	background-color: rgb(206, 64, 151);
	margin: -10px -10px 0px -10px;
	margin-left: -200px;
    }


#education h2 {
	text-align: center;
	font-size: 30px;
	
}


#education h1 {
	margin: -20px 52px 0px 145px;
	text-align: justify;
	color: black;
	font-size: 25px;
}

#education i {
	text-align: justify;
	font-size: 20px;
	color: black;
	margin-left: 200px;
}

#education p {
	text-align: justify;
	font-size: 15px;
	color: white;
	margin-left: 230px;
}
/* photpholio */

#portpolio {
	background-color: rgb(12, 179, 201);
	margin: -8px -10px 0px -10px;
	clear: both;
	margin-left: -200px;
}

#portpolio h1 {
	text-align: center;
	font-size: 50px;
}

#portpolio img {
	margin-top: -80px;
	border: 10px double black;
	width: 400px;
	height: 150px;
	float: left;
}

#portpolio h2 {
	margin: -60px 0px 0px 450px;
	color: #ffffff;
}

#portpolio h4 {
	margin: -0px 0px 0px 490px;
	color: black;
	font-size: 20px;
}

#portpolio p {
	font-size: 20px;
	color: white
}

#portpolio i {
	margin: 0px 0px 0px 90px;
	font-style: oblique;
	font-size: 15px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
	width: 100%;
	margin: 0px;
	padding: 0px;
	background-color: darkslategrey;
	text-align: center;
	font-size: 30px;
	display: flexbox;
	color: white;
}

footer li {
	list-style-type: none;
	float: left;
	margin: 10px 80px;
	padding: auto;
	cursor: pointer;
	color: white;
	background-color: #eeeeee;
	border-radius: 30%;
	border-style: groove;
}

footer h1 {
	text-align: center;
}

footer li a {
	text-decoration: none;
}